<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/8b772826-064b-4d65-9e08-1e52a681295d/resourceGroups/borrar/providers/Microsoft.ContainerRegistry/registries/areas</ResourceId>
    <ResourceName>areas</ResourceName>
    <ResourceGroup>borrar</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>areas.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
  </PropertyGroup>
</Project>